.title {
  color: var(--white);
  text-align: center;
  font-size: 6.1vh;
  font-style: normal;
  font-weight: 860;
  line-height: 46px;
  margin-bottom: 2.4vh;
  letter-spacing: 0;
}

@media only screen and (min-width: 375px) and (min-height: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .title {
    margin-bottom: 2.6vh;
    font-size: 5.2vh;
    line-height: 46px;
  }
}
